name: Lint

on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
  merge_group:

permissions:
  contents: read
  pull-requests: read

env:
  GO_VERSION: '1.22'

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1.6
          skip-cache: true
          args: --timeout 10m --verbose
